  *, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;



    /* --bg: #024950; */
    /* --bg: linear-gradient(#003135, #024950); */
    /* --bg: black; */
    /* --bg: #0FA4AF; */
    --bg: #0e1111;

    --bg-800: #003135;
    --fg: #414a4c;

    --sub-header-height: 2em;

    --accent-color: #964734;

    --card-radius: 1rem;

    --text-color-primary: #dcf0fa;
    --text-color-primary: var(--);
    /* --text-color-primary: #398bea; */
    /* --text-color-light: var(--fg); */
    --hero-padding: 2rem 4rem;
    color-scheme: light dark;

    --padding-top-main: 1rem;
    --padding-inline: 5rem;
    --font-size-xs: 0.65rem;
    --font-size-sm: 0.85rem;
    --font-size-md: 1.25rem;

  }

  body {
    background: var(--bg);
    color: var(--text-color-primary);
    font-size: var(--font-size-md);
  }

  main {
    &:not(:has(.video-hero)) {
      padding-top: calc(var(--sub-header-height) + var(--padding-top-main));
      padding-bottom: var(--padding-top-main);
    }

    &:has(.video-hero) .container,
    &:has(.video-hero) .stretch-container {
      padding-top: var(--padding-top-main);
      padding-bottom: var(--padding-top-main);
    }
  }



  /* button is clickable div */
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }