@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme='dark'] {
  color-scheme: dark;

}

:root[data-theme='light'] {
  color-scheme: light;

}


:root {

  --gray-50: oklch(100% 0 253.06);
  --gray-100: oklch(95.76% 0 253.06);
  --gray-200: oklch(85.76% 0 253.06);
  --gray-300: oklch(71.76% 0 253.06);
  --gray-400: oklch(51.76% 0 253.06);
  --gray-500: oklch(41.76% 0 253.06);
  --gray-600: oklch(31.76% 0 253.06);
  --gray-700: oklch(21.76% 0 253.06);
  --gray-800: oklch(16.76% 0 253.06);

  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;



  /* --bg-dark: #024950; */
  /* --bg-dark: linear-gradient(#003135, #024950); */
  /* --bg-dark: black; */
  /* --bg-dark: #0FA4AF; */

  --bg-dark: oklch(17.43% 0.005 196.72);
  --bg-light: #fefefe;

  --bg-light-100: oklch(98.14% 0.0342 99.83);
  --bg-light-200: oklch(88.14% 0.0342 99.83);
  --bg-light-300: oklch(78.14% 0.0342 99.83);
  --bg-light-400: oklch(68.14% 0.0342 99.83);
  --bg-light-500: oklch(58.14% 0.0342 99.83);
  --bg-light-700: oklch(48.14% 0.0342 99.83);
  --bg-light-800: oklch(38.14% 0.0342 99.83);

  --fg-color-light-100: oklch(98.14% 0.006 223.46);
  --fg-color-light-200: oklch(88.14% 0.006 223.46);
  --fg-color-light-300: oklch(78.14% 0.006 223.46);
  --fg-color-light-400: oklch(68.14% 0.006 223.46);
  --fg-color-light-500: oklch(58.14% 0.006 223.46);
  --fg-color-light-700: oklch(48.14% 0.006 223.46);
  --fg-color-light-800: oklch(38.14% 0.006 223.46);

  --bg-800: #003135;

  --fg-color-dark: oklch(40.18% 0.0121 212.58);

  --fg-color-light: oklch(95.79% 0.006 223.46);

  --sub-header-height: 2em;

  --vertical-menu-width: 350px;


  --card-radius: 0.5rem;

  --button-radius: 0.5rem;

  /* --text-color-white: #398bea; */
  /* --text-color-light: var(--fg-color-dark); */
  --hero-padding: 2rem 4rem;

  --chip-padding: 0.25rem 0.75rem;


  --color-primary: oklch(65.58% 0.1097 203.42);

  --color-primary-100: oklch(99.58% 0.1097 203.42);
  --color-primary-200: oklch(85.58% 0.1097 203.42);
  --color-primary-300: oklch(80.58% 0.1097 203.42);
  --color-primary-400: oklch(70.58% 0.1097 203.42);
  --color-primary-500: oklch(65.58% 0.1097 203.42);
  --color-primary-600: oklch(55.58% 0.1097 203.42);
  --color-primary-700: oklch(45.58% 0.1097 203.42);
  --color-primary-800: oklch(35.58% 0.1097 203.42);

  --accent-color: #964734;

  /* --color-primary: oklch(65.58% 0.1281 77.66);

  --color-primary-100: oklch(99.58% 0.1281 77.66);
  --color-primary-200: oklch(85.58% 0.1281 77.66);
  --color-primary-300: oklch(80.58% 0.1281 77.66);
  --color-primary-400: oklch(70.58% 0.1281 77.66);
  --color-primary-500: oklch(65.58% 0.1281 77.66);
  --color-primary-600: oklch(55.58% 0.1281 77.66);
  --color-primary-700: oklch(45.58% 0.1281 77.66);
  --color-primary-800: oklch(35.58% 0.1281 77.66); */



  --color-secondary: oklch(99.58% 0.1097 203.42);

  --color-tertiary: #F2C57C;




  --padding-top-main: 1rem;

  --padding-inline-main: 5rem;

  --padding-inline-header: 2rem;


  --font-size-xs: 0.65rem;
  --font-size-sm: 0.85rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;


  --text-color-white: #dcf0fa;
  --text-color-accent: var(--bg-800);

  --text-color-black: var(--gray-700);


  color-scheme: light dark;

}

@media (max-width: 768px) {
  :root {


    --font-size-xs: 0.55rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.2rem;
    --padding-inline-main: 1.5rem;
    /* Smaller value for screens smaller than 768px */
  }
}

body:has([data-theme="dark"]) {
  color-scheme: dark;
}

body:has([data-theme="light"]) {
  color-scheme: light;
}

body {
  --bg-color: light-dark(var(--bg-light), var(--bg-dark));
  background-color: var(--bg-color);
  color: light-dark(var(--text-color-black), var(--text-color-white));
  font-size: var(--font-size-md);
  --fg-color: light-dark(var(--fg-color-light), var(--fg-color-dark));
  --color-primary: light-dark(var(--color-primary-200), var(--color-primary-500));
}


main {
  &:not(:has(.video-hero)) {
    padding-top: calc(var(--sub-header-height) + var(--padding-top-main));
    padding-bottom: var(--padding-top-main);
  }

  &:has(.video-hero) .container,
  &:has(.video-hero) .stretch-container {
    padding-top: var(--padding-top-main);
    padding-bottom: var(--padding-top-main);
  }
}




button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.input-group {
  font-size: var(--font-size-sm);
}

textarea {
  resize: none;
}


input, textarea, select, div.input {
  width: 100%;
  background-color: light-dark(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid light-dark(var(--gray-200), var(--gray-500));

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

fieldset[aria-busy="true"] {
  & .form-button {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: progress
  }
}


/* 
.conic_fancy_wrapper {
  --rotate: 0deg;
  position: relative;
  background: red;

  & .conic_fancy {
    position: absolute;
    inset: 0;

    & :before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: conic-gradient(from var(--rotate),
          transparent 0%,
          white 5%,
          transparent 10%);
    }
  }
} */