@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme='dark'] {
  color-scheme: dark;

}

:root[data-theme='light'] {
  color-scheme: light;
}







body:has(dialog[open]) {
  overflow: hidden;
}

main {
  &:not(:has(.video-hero)) {
    padding-top: calc(var(--sub-header-height));
    padding-bottom: var(--padding-top-main);
  }

  &:has(.video-hero) .container,
  &:has(.video-hero) .stretch-container {
    padding-top: var(--padding-top-main);
    padding-bottom: var(--padding-top-main);
  }
}




button {
  font-size: unset;
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.title {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}



textarea {
  resize: none;
}

select {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
}

.form-grid:has([data-has-error='true']) {
  border: 1px solid var(--color-error);
}

.input-group:has([data-has-error='true']) {
  color: var(--color-error);
}

.input-error-container:has([data-has-error="true"]) {
  input, textarea, select, div.input {
    border: 1px solid var(--color-error);
    /* background-color: #ffe6e6; */
  }
}

.input-error-message {
  font-size: var(--font-size-xs);
}

.input {
  text-align: left;
}

.input, input, textarea, select, div.input {
  width: 100%;
  background-color: light-dark(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  border: 1px solid light-dark(var(--gray-200), var(--gray-500));

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }


}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

fieldset[aria-busy="true"] {


  & .form-button {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: progress
  }
}


.icon-svg {
  width: 36px;
  height: 36px;
}

.icon-svg-sm {
  width: 16px;
  height: 16px;
}

/* 
.conic_fancy_wrapper {
  --rotate: 0deg;
  position: relative;
  background: red;

  & .conic_fancy {
    position: absolute;
    inset: 0;

    & :before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: conic-gradient(from var(--rotate),
          transparent 0%,
          white 5%,
          transparent 10%);
    }
  }
} */

.test-red {
  background-color: red;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.user-select-none {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}