.card {
  border: none;
  border-radius: var(--card-radius);
  padding: 1rem 1.5rem;
  background: var(--fg-color);
  color: light-dark(var(--text-color-black), var(--text-color-light));
}

dialog[open] {
  max-height: 80%;
  overflow-y: scroll;
}

dialog:focus {
  outline: none;
}


/* 
    https://unpkg.com/open-props@1.7.6/open-props.min.css for some cool animation variables
    https://codepen.io/fmontes/pen/yLveywJ for modal animation using the package
    */
.dialog {
  position: fixed;
  border: none;
  border-radius: var(--card-radius);
  margin: auto;
  background-color: var(--bg-color);
  width: 100%;
  /* height: 100%; */
}



.dialog-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5rem;
  width: 100%;
  height: fit-content;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}



@starting-style {
  dialog {
    transform: translate(0, 100%);
  }
}

dialog.closing {
  transform: translate(0, 100%);
}


/* dialog, */
dialog[open] {
  display: flex;
  margin-inline: auto;
}

dialog[open]::backdrop {
  background-color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
  opacity: 1;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

dialog[open].fade-in::backdrop {
  transition-delay: 0s;
  background-color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1));
}

dialog[open].fade-in,
dialog[open].fade-in::backdrop {
  opacity: 1;
  visibility: visible;

}

dialog::backdrop {
  backdrop-filter: blur(1.5px);
}



dialog {
  transition: opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out, background-color 3.7s ease-in-out;

  /* background-color: var(--fg-color-dark); */
  border: none;
}

.button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background: light-dark(var(--gray-300), var(--gray-300));
  color: var(--text-color-black);
  /* color: black; */
  font-weight: 600;
  /* font-size: var(--text-size-md); */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: background 0.25s ease-in-out, transform 0.25s ease-in-out;


  &:hover:is:not(:disabled) {
    background: light-dark(var(--gray-200), var(--gray-200));
  }

  &:active:is:not(:disabled) {
    background: light-dark(var(--gray-200), var(--gray-400));
    transform: scale(0.95);
  }

  &:disabled {
    background: light-dark(var(--gray-200), var(--gray-400));
    color: var(--gray-500);
    cursor: not-allowed;
  }
}

.button-min-style {
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

  &:active {
    transform: scale(0.98);
    opacity: 0.8;
  }
}




.button.primary {
  background: var(--color-primary);
  /* background: transparent; */
  /* color: var(--color-primary-400); */
  color: var(--text-color-white);

  &:hover {
    background: light-dark(var(--color-primary-700), var(--color-primary-400));
  }

  &:active {
    background: light-dark(var(--color-primary-300), var(--color-primary-700));
    transform: scale(0.98);
  }

  &.error {
    background: var(--color-error);
    color: var(--text-color-white);
  }
}

.button.error {
  background: var(--color-error);
  color: var(--text-color-white);
}

/* 
button:active.button {
  background: light-dark(var(--gray-200), var(--gray-400));
} */



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }

}