.card {
  border: none;
  border-radius: var(--card-radius);
  padding: 1rem 1.5rem;
  background: var(--fg);
}


.dialog {
  position: fixed;
  border: none;
  border-radius: var(--card-radius);
  background: var(--fg);
  margin: auto;
  min-width: 600px;

  @media (max-width: 600px) {
    min-width: 100%;
  }
}

.dialog-content {
  /* padding: 3rem 2rem; */
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

dialog[open]::backdrop {
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(0 0 0 / 50%);
}

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}