.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);


}

.gap-xs {
  gap: var(--gap-xs);
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-lg {
  gap: var(--gap-lg);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: start;
}

.justify-start {
  justify-content: start;
}

.align-end {
  align-items: end;
}

.justify-end {
  justify-content: end;
}


@media (max-width: 768px) {
  .sm-column {
    display: flex;
    flex-direction: column;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;

  @media (max-width: 64rem) {
    padding-inline: var(--padding-inline-main);
  }

}

.stretch-container {
  /* TODO: IMPLEMENT CSS */
  padding-inline: var(--padding-inline-main);
}

.display-none {
  display: none !important;
}

.visibly-hidden {
  visibility: hidden !important;
}

.full-width {
  width: 100%;
  grid-column: 1 / -1;
}

.border-none {
  border: none;
}

select.border-focus-none, input.border-focus-none {
  &:focus {
    border: none;
  }
}

.error {
  color: var(--color-error);
  background-color: var(--color-error-100);
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.max-width-100 {
  max-width: 100%;
}

.max-width-100vw {
  max-width: 100vw;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-700 {
  max-width: 700px;
}

.max-width-800 {
  max-width: 800px;
}

.max-width-900 {
  max-width: 900px;
}

.max-width-1000 {
  max-width: 1000px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: 600;
}

.fw-normal {
  font-weight: 400;
}