.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;

}

@media (max-width: 768px) {
  .sm-column {
    display: flex;
    flex-direction: column;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;

  @media (max-width: 64rem) {
    padding-inline: var(--padding-inline-main);
  }

}

.stretch-container {
  /* TODO: IMPLEMENT CSS */
  padding-inline: var(--padding-inline-main);
}

.display-none {
  display: none !important;
}

.visibly-hidden {
  visibility: hidden !important;
}

.full-width {
  width: 100%;
  grid-column: 1 / -1;
}