:root {
  --gray-50: oklch(100% 0 253.06);
  --gray-100: oklch(95.76% 0 253.06);
  --gray-200: oklch(85.76% 0 253.06);
  --gray-300: oklch(71.76% 0 253.06);
  --gray-400: oklch(51.76% 0 253.06);
  --gray-500: oklch(41.76% 0 253.06);
  --gray-600: oklch(31.76% 0 253.06);
  --gray-700: oklch(21.76% 0 253.06);
  --gray-800: oklch(16.76% 0 253.06);

  font-family: 'SuisseIntl', Arial, Helvetica, sans-serif;


  --bg-dark: oklch(17.43% 0.005 196.72);
  --bg-light: #fefefe;

  --bg-light-100: oklch(98.14% 0.0342 99.83);
  --bg-light-200: oklch(88.14% 0.0342 99.83);
  --bg-light-300: oklch(78.14% 0.0342 99.83);
  --bg-light-400: oklch(68.14% 0.0342 99.83);
  --bg-light-500: oklch(58.14% 0.0342 99.83);
  --bg-light-700: oklch(48.14% 0.0342 99.83);
  --bg-light-800: oklch(38.14% 0.0342 99.83);

  --fg-color-light-100: oklch(98.14% 0.006 223.46);
  --fg-color-light-200: oklch(88.14% 0.006 223.46);
  --fg-color-light-300: oklch(78.14% 0.006 223.46);
  --fg-color-light-400: oklch(68.14% 0.006 223.46);
  --fg-color-light-500: oklch(58.14% 0.006 223.46);
  --fg-color-light-700: oklch(48.14% 0.006 223.46);
  --fg-color-light-800: oklch(38.14% 0.006 223.46);

  --bg-800: #003135;

  --fg-color-dark: oklch(40.18% 0.0121 212.58);

  --fg-color-light: oklch(95.79% 0.006 223.46);

  --sub-header-height: 2em;

  --vertical-menu-width: 350px;

  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;

  --card-radius: var(--border-radius-lg);

  --button-radius: var(--border-radius-lg);


  /* --text-color-white: #398bea; */
  /* --text-color-light: var(--fg-color-dark); */
  --hero-padding: 2rem 4rem;

  --chip-padding: 0.25rem 0.75rem;


  --color-primary: oklch(65.58% 0.1097 203.42);

  --color-primary-100: oklch(99.58% 0.1097 203.42);
  --color-primary-200: oklch(85.58% 0.1097 203.42);
  --color-primary-300: oklch(80.58% 0.1097 203.42);
  --color-primary-400: oklch(70.58% 0.1097 203.42);
  --color-primary-500: oklch(65.58% 0.1097 203.42);
  --color-primary-600: oklch(55.58% 0.1097 203.42);
  --color-primary-700: oklch(45.58% 0.1097 203.42);
  --color-primary-800: oklch(35.58% 0.1097 203.42);



  --color-error-100: oklch(90.53% 0.2146 16.03);
  --color-error-200: oklch(85.53% 0.2146 16.03);
  --color-error-300: oklch(80.53% 0.2146 16.03);
  --color-error-400: oklch(75.53% 0.2146 16.03);
  --color-error-400: oklch(65.53% 0.2146 16.03);
  --color-error-500: oklch(60.53% 0.2146 16.03);
  --color-error-600: oklch(56.53% 0.2146 16.03);
  --color-error-700: oklch(50.53% 0.2146 16.03);
  --color-error-800: oklch(40.53% 0.2146 16.03);

  --color-error: var(--color-error-500);

  --accent-color: #964734;

  --color-secondary: oklch(70.58% 0.1281 77.66);

  --color-secondary-100: oklch(99.58% 0.1281 77.66);
  --color-secondary-200: oklch(85.58% 0.1281 77.66);
  --color-secondary-300: oklch(80.58% 0.1281 77.66);
  --color-secondary-400: var(--color-secondary);
  --color-secondary-500: oklch(65.58% 0.1281 77.66);
  --color-secondary-600: oklch(55.58% 0.1281 77.66);
  --color-secondary-700: oklch(45.58% 0.1281 77.66);
  --color-secondary-800: oklch(35.58% 0.1281 77.66);

  /* --color-tertiary: #F2C57C; */







  --padding-top-main: 1rem;

  --padding-inline-main: 5rem;

  --padding-inline-md: 1rem;
  --padding-inline-lg: 1.25rem;
  --padding-block-md: 1.5rem;

  --padding-inline-header: 2rem;

  ;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.85rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;


  --text-color-white: #dcf0fa;
  --text-color-accent: var(--bg-800);

  --text-color-black: var(--gray-700);

  --spacing-xs: 0.2rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --gap-xs: var(--spacing-xs);
  --gap-sm: var(--spacing-sm);
  --gap-md: var(--spacing-md);
  --gap-lg: var(--spacing-lg);
  --gap: var(--spacing-md);

  color-scheme: light dark;

}

body:has([data-theme="dark"]) {
  color-scheme: dark;
}

body:has([data-theme="light"]) {
  color-scheme: light;
}


body {
  /* theme variables */
  --bg-color: light-dark(var(--bg-light), var(--bg-dark));
  background-color: var(--bg-color);
  --text-color: light-dark(var(--text-color-black), var(--text-color-white));
  --fg-color: light-dark(var(--fg-color-light), var(--fg-color-dark));
  --color-primary: light-dark(var(--color-primary-400), var(--color-primary-500));
  --color-card-primary: light-dark(transparent, var(--color-primary-800));
  --color-card-primary-hover: light-dark(var(--color-primary-100), var(--color-primary-700));
  --color-card-primary-active: light-dark(var(--color-primary-200), var(--color-primary-600));
  /* font settings */
  color: var(--text-color);
  font-size: var(--font-size-md);
}

@media (max-width: 768px) {
  :root {
    --font-size-xs: 0.65rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 0.95rem;
    --font-size-lg: 1.2rem;
    --padding-inline-main: 1.5rem;
    /* Smaller value for screens smaller than 768px */
  }
}